{% extends 'layout.html' %}

{% block body %}
<section class = "p-3 mb-4">
    <div class = "col-12 col-sm-12 col-md-12 col-lg-12 py-4 section-intro">
        <p>
        <img src="../../static/logo.gif">
        <br>
        <h6>Hastanemiz olarak misafirlerimize kaliteli sağlık hizmeti üretirken, bir yandan da bilimsel çalışma ve araştırmalara imza atmaktayız.</h6>
        </p>
    </div>
    <br>
    <h4>&nbsp;&nbsp;Kategoriler</h4>
    <h6>
    <br>    
    <div class="col-12">
        <div class = "row" id = "dvBranchList">
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                       <h4> B </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Beslenme ve Diyetetik Diyetisyen</a>
                        </li>
                        <li>
                            <a href = "#"> Beyin ve Sinir Cerrahisi</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> Ç </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Çocuk Hastalığı ve Hastalıkları</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>  
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> D </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Dermatoloji</a>
                        </li>
                        <li>
                            <a href = "#"> Diş Hekimliği</a>
                        </li>
                        <br>
                    </ul>
                </div> 
            </div>   
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> E </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Enfeksiyon Hastalıkları</a>
                        </li>
                        <br>
                    </ul>
                </div> 
            </div>
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> F </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Fiziksel Tıp ve Rehabilitasyon</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>  
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> G </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Göğüs Hastalıkları</a>
                        </li>
                        <li>
                            <a href = "#"> Göz Hastalıkları</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>    
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> İ </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> İç Hastalıkları</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div> 
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> K </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Kadın Hastalıkları ve Doğum</a>
                        </li>
                        <li>
                            <a href = "#"> Kardiyoloji</a>
                        </li>
                        <li>
                            <a href = "#"> Kulak Burun Boğaz (KBB)</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> O </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Onkoloji</a>
                        </li>
                        <li>
                            <a href = "#"> Ortopedi ve Travmatoloji</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> P </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Psikiyatri</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
            <div class= "col-12 col-sm-6 col-md-4">
                <div class ="item-departments">
                    <div class = "item-departments-title">
                        <h4> Ü </h4>
                    </div>
                    <ul class = "list-unstyled mb-0">
                        <li>
                            <a href = "#"> Üroloji</a>
                        </li>
                        <br>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    </h6>          
</section>


{% endblock body %}