{% extends 'layout.html' %}

{% block body %}

<form action "#" method = "post">
    {% csrf_token %}
<div class="form-group">
    <h3> Hastalığınızla İlgili Şikayetinizi Ayrıntılı Olarak Anlatır Mısınız ?<h3>
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" placeholder="Şikayetinizi Giriniz..." id = "exampleFormControlTextarea1" rows="3" name = "complaint"></textarea>
    <br>
    <button type="submit" class="btn btn-primary mb-2"> Convert Complaint </button>
</div>
</form>

<table>
    <tr>
        <th><h6>Category<h6></th>
    </tr>
    <tr>
        <td><h7>{{machine_translate}}<h7></td>
    <tr>
</table> 


{% endblock body %}

