{% extends 'layout.html' %}

{% block body %}

  <body class="u-body u-xl-mode" data-lang="tr">
	<link rel="stylesheet" href="../static/index.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <section class="u-align-left u-clearfix u-image u-section-1" id="carousel_bba9">
      <div class="u-clearfix u-sheet u-sheet-1">
		<h1 class="u-align-left u-custom-font u-font-oswald u-text u-title u-text-1"><br>&nbsp;&nbsp;AI HOSPITAL&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Service</h1>
        <br>
        <p class="u-text u-text-2">Patients will be<span style="font-weight: 700;"> 
            <span style="font-weight: 400;">able to ask their questions and problems to the doctors. Patients will be able to write their complaints and the categories of complaints using by NLP.</span>
        </p>
        <br>
        <p class="u-text u-text-2">Patients will be<span style="font-weight: 700;"> 
			<span style="font-weight: 400;"> to make appointments from doctors. Patients should pay the inspection fee after doctor check.</span>
		  </span>
        </p>
      </div>
    </section>
</body>
{% endblock body %}

