 .u-section-1 {
  background-image: url("background.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 872px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  margin: 198px 542px 0 45px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 570px 60px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 387px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 387px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-right: 270px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 294px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 36.32% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }
}