{% load static %}
<footer class="footer-07" style ="background-color:#343a40!important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="logo"><img src="{% static 'ai_logo.png' %}" width="100" 
                    height="100" ></h2>
                    <br>
                <p class="menu">
                <a style = "padding:16px;" href="{% url 'home' %}">Anasayfa </a>
                <a style = "padding:16px;" href="{% url 'about' %}">Hakkımda</a>
                <a style = "padding:16px;" href="{% url 'doctors' %}">Doktorlar</a>
                <a style = "padding:16px;" href="{% url 'complaints' %}">Şikayetler</a>
                <a style = "padding:16px;" href="{% url 'categories' %}">Kategoriler</a>
                </p>
            </div>
            <h4><p style = "color:white"><br>© Copyright 2023 </h4><a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logo_black.gif' %}"></a></p>
        </div>
    </div>
</footer>
